.burger-toggle {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 999;
    position: absolute;
  }
  
  .burger-menu {
    width: 250px;
    background: rgba(255, 255, 255, 0.8);
    color: #111a68; /* Text color */
    padding: 50px 10px 10px 10px;
    border-radius: 0 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
    box-shadow: 0 2px 5px #111a6830;
    backdrop-filter: blur(2px);
  }
  
  .accordion {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px #111a6830;
    backdrop-filter: blur(2px);
    border-radius: 5px;
  }
  
  .accordion-toggle {
    color: #111a68; /* Text color */
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    background: #fff;
  }
  .accordion-toggle:hover {
    background: #111a68; /* Text color */
    color: #fff;
  }
  
  .accordion-content {
    padding: 0;
    border-top:1px solid #111a68;
  }
  
  .room-btn {
    color: #111a68; /* Text color */
    padding: 5px 5px 5px 20px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .room-btn:hover {
    background: #111a68;
    color: #fff;
  }
  
  /* Close Menu Button Styles */
.close-menu-btn {
    background-color: #ff4444;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .close-menu-btn:hover {
    background-color: #ff6666;
  }