footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  