.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
html, body, #root {
  height: 100%; /* Ensure all elements from the root take full height */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  box-sizing: border-box; /* Ensure consistent sizing */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the app take 100% of the viewport height */
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
}
